<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/axios.min.js}"></script>
</head>
<body>
<h1>首页</h1>
<a th:href="@{/hello}">HelloWorld</a><br/>
<a th:href="@{/params/paramsTest(name=jack)}">paramsTest</a><br/>
<a th:href="@{/params/paramsTest2}">paramsTest2</a><br/>

<a th:href="@{/getParams(name='jack',password=123456)}">getParams的参数获取 httpServletRequest获取</a><br/>
<a th:href="@{/getParams2(name='bob',password=55552565)}">getParams的参数获取 spring获取</a><br/>
<a th:href="@{/getParams3(my_name='lucy',password=55552565)}">getParams的参数获取 测试RequestParam的用法</a><br/>
<a th:href="@{/getParams3(password=55552565)}">getParams的参数获取 测试RequestParam的用法,不写某个字段</a><br/>
<a th:href="@{/getParams4}">getParams的参数获取 测试RequestHeader的用法</a><br/>

<a th:href="@{/ScopeTest}">/ScopeTest</a><br/>
<HR>
<a th:href="@{/restIndex}">/restIndex</a><br/>

<h2>测试表单</h2>
<form th:action="@{/getparamPOJO}" method="get">
    用户名：<input type="text" name="user_name"><br>
    密码：<input type="password" name="password"><br>
    爱好：<input type="checkbox" name="hobby" value="a">a
    <input type="checkbox" name="hobby" value="b">b
    <input type="checkbox" name="hobby" value="c">c
    <button type="submit">提交</button>
</form>
<hr>
<form th:action="@{/testRequestBody}" method="post">
    用户名：<input type="text" name="username"><br>
    密码：<input type="password" name="password"><br>
    <input type="submit">
</form>
<br>
<a th:href="@{/testRequestEntity}">/testRequestEntity</a><br/>
<a th:href="@{/testResponseBody}">/testResponseBody</a><br/>
<a th:href="@{/testResponseEntity}">/testResponseEntity</a><br/>
<hr>
<div id="app">
    <a th:href="@{/testAjax}" @click="testAjax">testAjax</a><br>
    <a th:href="@{/testAjax2}" @click="testAjax">testAjax2</a><br>
</div>
<script type="text/javascript">
    var vue = new Vue({
        el:"#app",
        methods:{
            testAjax:function (event) {
                axios({
                    method:"post",
                    url:event.target.href,
                    params:{
                        username:"admin",
                        password:"123456"
                    }
                }).then(function (response) {
                    alert(response.data);
                });
                event.preventDefault();
            }
        }
    });
</script>
</body>
</html>